
@{
    ViewData["Title"] = "Gestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3" style="margin-top:57px;">

    <div class="card-header">
        <i class="fa fa-table"></i> @ViewData["Title"] &emsp;
    </div>
    <div class="card-body">
        <div class="container">
            <br />
            <div style="width:90%; margin:0 auto;">
                <table id="tableDinamica" class="table table-striped table-bordered table-hover dt-responsive nowrap display compact" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="text-align:center">Editar</th>
                            <th style="text-align:center">NIU</th>
                            <th style="text-align:center">Nombres</th>
                            <th style="text-align:center">Es Cliente</th>
                            <th style="text-align:center">Es Proveedor</th>
                            <th style="text-align:center">Acción</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script>


    $(document).ready(function () {
        GetPersonas();
    });


    function GetPersonas() {
        $.ajax({
            url: '/Pedalea/GetPersonas',
            method: 'GET',
            data: {},
            traditional: true,
            async: true,
            dataType: 'JSON',
            success: function (response) {
                debugger
                $('#tableDinamica').DataTable().clear();
                $('#tableDinamica').DataTable().destroy();
                $('#tableDinamica').find('tbody').empty();
                if (response.responseClient.success==true) {
                   // toastr.success(response.mensaje, "Atención!");
                    for (var i = 0; i < response.model.length; i++) {
                        $('#tableDinamica').find('tbody').append(
                            `<tr id="">
                                <td align="right">
                                    <button type="button" class="btn btn-success btn-xs" onclick="GestionEquipos('${response.model[i].personaID}')">
                                        <i class="fa fa-pencil-square"></i>&nbsp;Editar&nbsp;&nbsp;
                                    </button>
                                </td>
                                <td align="right">${ response.model[i].identificacion}</td>
                                <td align="right">${ response.model[i].primerNombre + " " +response.model[i].primerApellido}</td>
                                <td align="right">${ response.model[i].esCliente}</td>
                                <td align="right">${ response.model[i].esProveedor}</td>
                                <td align="right">
                                    <button type="button" class="btn btn-warning btn-xs" onclick="BorrarEquipo('${response.model[i].personaID}')">
                                        <i class="fa fa-trash"></i>&nbsp;Borrar&nbsp;&nbsp;
                                    </button>
                                </td>
                            </tr >`);
                    }
                } else {
                    //toastr.error(response.mensaje, "Error");
                };
            },
            error: function (jQXHR) {debugger
                //toastr.error('No pudimos procesar su Solicitud!')
            },
            complete: function () {
                $('#tableDinamica').DataTable({
                    dom: "<''<'col-md-6'l><'col-md-6'f>>t<'col-md-4'i><'col-md-8 text-right'pB>",
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    buttons: []
                });
            }
        });
    }

</script>